{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@src": "./src",
          "@root": "./",
          "@functions": "./src/Functions",
          "@components": "./src/Components",
          "@screens": "./src/screens"
        }
      }
    ]
  ]
}